@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;1,100&display=swap');
* {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', cursive;
}